@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.auth-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  overflow: hidden;
}

.shape-blue {
  position: absolute;
  top: 0; left: 0;
  width: 50%; height: 100%;
  background: #040e66;
  clip-path: polygon(0 0, 35% 0, 15% 100%, 0% 100%);
}

.shape-red {
  position: absolute;
  bottom: 0; right: 0;
  width: 50%; height: 100%;
  background: #990404;
  clip-path: polygon(100% 15%, 100% 100%, 65% 100%);
}

.auth-content {
  z-index: 5;
  text-align: center;
  width: 100%;
  max-width: 700px;
}

/*LOGIN PART*/

.logo-img {
  width: 70px;
  margin-bottom: 15px;
}

.dept-name {
  color: #040e66;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.welcome-heading {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #040e66;
  font-weight: 900;
}

.sub-heading {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #040e66;
}

.glass-card {
  background: #efefef;
  padding: 50px;
  width: 100%;
  margin: 0 auto;
  border-radius: 80px 20px 80px 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.auth-input-group {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.auth-input-group input {
  width: 100%;
  padding: 12px 45px 12px 15px; 
  border: none;
  background: #d1d1d1;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 400;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  user-select: none;
}

.eye-icon:hover {
  opacity: 1;
  color: #000;
}

.role-selector {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.role-selector label { 
  font-size: 0.85rem;
  font-weight: 600; 
  color: #555;
  margin-right: 15px;
}

.custom-select {
  width: 120px; 
  padding: 6px 10px;
  border: 1.5px solid #aaa;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 400;
  background: white;
}

.forgot-lnk {
  display: block;
  margin: 0 auto 15px;
  background: none;
  border: none;
  color: #3946b9;
  font-size: 0.75rem;
  cursor: pointer;
  font-weight: 600;
}

.submit-btn {
  background: #012446;
  color: white;
  border: none;
  padding: 10px 45px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #030a49;
}

.eye-icon {
  position: absolute;
  right: 15px;
  z-index: 10; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333 !important; 
}

/*FORGOT PASSWORD*/

.forgot-container {
  text-align: left; 
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.forgot-title {
  color: #030a49;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.forgot-subtitle {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 400;
}

.btn-row-right {
  display: flex;
  justify-content: flex-end;
    gap: 12px;
  margin-top: 30px;
}

.small-btn {
  padding: 8px 15px !important;
  font-size: 0.75rem !important;
  font-weight: 400;
}

.cancel-btn {
  background: white;
  color: #001529;
  border: 1.5px solid #001529;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  background: #f0f0f0;
}

/*RESET PASSWORD*/

.input-error {
  border: 1.5px solid #8b0000 !important;
  background: #fdf2f2 !important;
}

.input-error::placeholder {
  color: #8b0000 !important;
  font-weight: 4x00;
}

.input-field input::placeholder {
  color: #757575;
  font-weight: 400;
}

svg.lucide.lucide-mail.input-icon-left, svg.lucide.lucide-lock.input-icon-left {
    margin-right: 15px;
}